/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #000;
}

header,
footer {
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  height: 10vh;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
}

header h2 {
  font-size: 2.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0 15px;
  text-transform: capitalize;
}

    .image {
            position: relative;
            max-width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            height: auto;
            margin: 0 auto;  
        }

        .image img {
            width: 100%;
            max-width: 400px;
            height: auto;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        @media (max-width: 768px) {
            .image img {
                max-width: 90%;
            }
        }

#image1 {
  position: relative;
  display: block;
  padding: 5px;
  border-radius: 50px;
  width: 1%;
  left:0;
  height: auto;
  object-fit: cover;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("download.jpeg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(2px);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  color: #fff;
}

#p1,
#p2,
#p3 {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  margin: 1rem auto;
  width: 90%;
  max-width: 700px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
}

#expertise,
#moments,
#approach {
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
  color: #fff;
  width: 90%;
  max-width: 700px;
}

@media (max-width: 768px) {
  header h2 {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  #p1,
  #p2,
  #p3,
  #expertise,
  #moments,
  #approach {
    font-size: 1rem;
    width: 90%;
  }

  .image {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  header,
  footer {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 0.5rem 0;
  }

  .image {
    max-width: 100%;
  }
}
