@media (max-width:768px) {
    .image{
        width:100%;
        padding:20px;
    }
}
body {
    background-image:url("download.jpeg"), linear-gradient(to bottom,#472335,#302b63,#0f0c29);
    background-blend-mode:overlay;
    background-position: center;
    background-attachment: fixed;
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    scrollbar-color:transparent ;
    }

 
    header{
        color: white;
        text-align:center;
        padding:5px;
        height:2px;
        margin:5px;
        display:fixed;
        
    }    
    
    .hive-menu{
        list-style:none;
        display:flex;
        gap:20px;
        padding:0;
        text-align: center;
        justify-content: center;
    
    }

    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size:24px;
        padding: 0 15px;
        text-transform:capitalize;
    
    }
        
        /*Hive Hover Effect*/
    .hive-menu li:hover{
         transform:scale(1.1);
       
    }  
    
    #p{
        background:linear-gradient(to right,rgb(206, 17, 127),rgb(0, 225, 255),rgb(0, 174, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        background-clip:text;
        font-weight:bold;
        font-size: 40px;
        
    }

    #p1{
        color:white;
        font-size:30px;
    }
    .btn {
        background: #d00b0b;
        color: white;
        padding: 12px 25px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 18px;
        position:absolute; 
        left: 42%;
        top: 93%;
 
    }
    .btn:hover {
    background:linear-gradient(to right,rgb(206, 17, 127),rgb(0, 225, 255),rgb(0, 174, 255));  
  }
    

    .image {
  
       
        height:25em;
        border-radius: 20px;
        align-items:center;
        justify-content:center;
        position:relative;
        overflow:hidden;
        border-radius:10px;
        overflow: hidden;
        animation: move-images 3s linear infinite;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;        
        scrollbar-color: transparent;
    }

    @keyframes move-images{
        100%{
            transform: translateX(100%);
        }
        0%{transform: translateX(-50%);
        }
    }
    #image1{
        position: absolute;
        width:25%;
        height:50%;
        left: 5%;
    }

    #image2{
        position: absolute;
        width:25%;
        height:50%;
        left:25%;
    
    }

    #image3{
        position: absolute;
        width:25%;
        height:50%;     
        left: 45%;
 
    }

    #image4{
        position: absolute;
        width:25%;
        height:50%;
        left:65%;
     
    }

    
    #image5{
        position: absolute;
        width:25%;
        height:50%;     
        left: 85%;
 
    }

    .image img{
        max-width:100%;
        max-height:99%;
        object-fit:cover;
        display:block;
        border-radius:20px;
    }
    
    .image:hover{
        transform:scale(1.05);
 
    }
    .image .caption{
        position:absolute;
        border-radius: 10px;
        bottom:0;
        left:0;
        width:100;
        background: rgba(0,0,0,0.7);/*dark overlay*/
        color:white;
        text-align:center;
        padding: 16px;
        font-weight:bold;
        opacity:20%;/*initially hidden */
        transform:translate Y(100);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    
    /*Show caption on hover*/
    .image:hover .caption{
        opacity:1;
        transform:translate Y(0);
    }
    .footer{
        position:relative;
        background-color:  transparent;
        display:flex ;
        color: white;
        text-align: center;
        justify-content:center;
        padding: 5px 0;
        margin: 5px;
        top: 350px;
        

    }

    .social-icons{
        margin:10px 0;
    }

    .social-icons a{
        color:white;
        text-decoration: none;
        margin:0 10px;
        font-size:20px;
        transition: color 0.3s;
    }

    .social-icon a:hover{
        color:#00acee;
    }

 


   